ul {
  position: relative;
  top: -25px;
  width: 100%;
  max-width: 500px;
  height: auto;
  max-height: 343.4px;
  display: flex;
  flex-direction: column;
  background-color: var(--Very-Light-Gray);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow-x: auto;
}

/* modo oscuro */
.ulModeDark {
  background-color: var(--Very-Dark-Desaturated-Blue);
}
/* ----------- */